xattr.xsd

<?xml version="1.0"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://green-communications.fr/xattr/ns"
	targetNamespace="http://green-communications.fr/xattr/ns">

	<xs:complexType name="default-getxattr">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"
						use="required"/>
				<xs:attribute name="type" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="getxattr" type="default-getxattr"/>
</xs:schema>
